/* content */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
/* title */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #000;
  --secondary-text: #ab332b;
  --background-rgb: #faf9f5;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-text);
  background: var(--background-rgb);
  font-family: 'EB Garamond', serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Animations */
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@layer base {
  body {
    @apply text-gray-800;
    background: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
    font-family: 'EB Garamond', serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #ab332b;
  }
  b,
  strong {
    color: #ab332b;
  }

  .font-bold {
    color: #ab332b;
  }
}

.plus-symbols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  color: #e5e7eb;
  font-size: 1rem;
}

@layer utilities {
  .rounded-blob {
    border-radius: 60% 40% 50% 50% / 40% 50% 50% 60%;
  }
}
